@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@500&family=Montserrat:wght@300&display=swap');


.header {
  font-family: "Dancing Script", cursive;
}
.header2 {
  font-family: "Josefin Sans", sans-serif;
}
.link-hero {
  text-decoration: none;
}
