@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.hero-container {
  font-family: "Josefin Sans", sans-serif;
}
.header {
  font-family: "Dancing Script", cursive;
}
.header2 {
  font-family: "Josefin Sans", sans-serif;
}
